@import url('https://fonts.googleapis.com/css?family=Roboto');

.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: #0767f7;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.webite-nav-logo{
    height: 40px;
    margin-left: 60px;

}
.search-container{
    margin-left: -80px;
    margin-top: 4px;
    display: flex;
}
.search-input{
    height: 34px;
    width: 430px;
    background-color: #fff;
    color: #000;
    font-family: "Roboto";
    font-size: 13px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    border-width: 0px;
    
}


.search-icon-button{
    background-color: #fff;
    border-width: 0px;
    outline: none;
    cursor: pointer;
    margin-left: -30px;
    padding-top: 10px;
    
   
    
}
.search-icon{
    color: #0767f7;
    margin-bottom: -4px;
    font-size: 16px;
    
}
.buttons-container{
    margin-top: 10px;
    display: flex;
}
.become-a-seller-button{
    background-color: transparent;
    font-weight: 500;
    color: #fff;
    outline: none;
    border-width: 0px;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 15px;
    margin-right: 80px;
    padding-bottom: 15px;
    font-weight: 600;
}
.cart-button{
    background-color: transparent;
    font-weight: 500;
    color: #fff;
    outline: none;
    border-width: 0px;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 15px;
    margin-right: 80px;
    padding-bottom: 15px;
    font-weight: 600;
    display: flex;

}
.cart-text{
    margin-top: -2px;
}
.logout-container{
    display: flex;
    margin-top: 3px;
}
.shopping-sart-icon{
    color: #fff;
    margin-right: 5px;
}
.cart-contiainer{
    display: flex;
    margin-top: 3px;
}
.logout-icon{
    color: #fff;
    margin-right: 5px;
}
.logout-button{
    background-color: transparent;
    font-weight: 500;
    color: #fff;
    outline: none;
    border-width: 0px;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 15px;
    margin-right: 80px;
    padding-bottom: 15px;
    font-weight: 600;
    display: flex;

}
.span-text-length{
    background-color: red;
    color: #fff;
    font-family: "Roboto";
    padding-top: 3px;
    padding-left: 4px;
    font-size: 8px;
    border-radius: 4px;
    height: 10px;
    padding-bottom:3px;
    padding-right: 5px;
}
.pop-up-bg-container{
    background-color: #0767f7;
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.pop-up-text{
    color: #fff;
    font-family: "Roboto";
    font-size: 18px;
    margin-bottom: 20px;

}
.popop-up-button{
    background-color: #fff;
    height: 40px;
    width: 90px;
    outline: none;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-family: "Roboto";
}